<template>
  <div>
    <span>{{ $t('test') }}</span>
    <v-btn depressed large color="primary">Click me</v-btn>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class HelloWorld extends Vue {}
</script>

<style scoped></style>
